body {
  text-align: center;
}

h1 {
  color: #F70047;
  font-size: 50px;
  font-family: 'Courgette', cursive;
}

h2 {
  color: #A0A0A0;
  font-size: 20px;
  font-family: 'Varela', sans-serif;
}

.search {
  width: 300px;
  margin: 0 auto;
}

.search-term {
  width: 100%;
  border: 3px solid #F90066;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #F90066;
  font-family: 'Varela', sans-serif;
  font-size: 25px;
}

.search-term:focus{
  color: black;
  font-family: 'Varela', sans-serif;
  font-size: 25px;
}
